flows RobotFactores_Fluidez_Nsegundos.json
[{"id":"f07d898a.cb5cc8","type":"tab","label":"Principal","disabled":false,"info":""},{"id":"a11d52d5.b155f","type":"tab","label":"Modo Crisis","disabled":false,"info":""},{"id":"7de4a171.c3c46","type":"tab","label":"Config","disabled":false,"info":""},{"id":"ed32508c.85b9b","type":"tab","label":"Gráficas","disabled":false,"info":""},{"id":"f1e46f72.3361","type":"tab","label":"R&W DataBase","disabled":false,"info":""},{"id":"226d658e.05774a","type":"tab","label":"Grabar","disabled":false,"info":""},{"id":"9ca91ed.5df6de","type":"tab","label":"WebServer","disabled":true,"info":""},{"id":"5dc5cba7.4eef14","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#ff8800","baseFont":"Century Gothic,CenturyGothic,AppleGothic,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#c45d31","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#ff8800","edited":true},"page-titlebar-backgroundColor":{"value":"#ff8800","edited":false},"page-backgroundColor":{"value":"#111111","edited":true},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":true},"group-textColor":{"value":"#ffac4d","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#ff8800","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Century Gothic,CenturyGothic,AppleGothic,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"PEGADURO Node-RED Dashboard ","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"64e3b886.1ca278","type":"ui_group","z":"","name":"Base de datos","tab":"91dce333.a495e","order":5,"disp":true,"width":6,"collapse":false},{"id":"91dce333.a495e","type":"ui_tab","z":"","name":"RobotFactores","icon":"robot","order":1,"disabled":false,"hidden":false},{"id":"a2845e63.e8419","type":"ui_group","z":"","name":"Principal","tab":"91dce333.a495e","order":1,"disp":true,"width":"6","collapse":false},{"id":"baede666.b7d1a8","type":"MSSQL-CN","z":"","tdsVersion":"7_4","name":"","server":"PDGDL-SQL","port":"1433","encyption":true,"database":"Robot_cotija","useUTC":true,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":true},{"id":"256b571a.45cf18","type":"s7 endpoint","z":"","transport":"iso-on-tcp","address":"10.0.3.133","port":"102","rack":"0","slot":"1","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","adapterauto":true,"adapterport":"","busaddr":"2","adapteraddr":"0","cycletime":"500","timeout":"1500","verbose":"default","name":"ListaOrdenes","vartable":[{"addr":"DB14,I0","name":"Segundos0"},{"addr":"DB14,I2","name":"Segundos1"},{"addr":"DB14,I4","name":"Segundos2"},{"addr":"DB14,I6","name":"Segundos3"},{"addr":"DB14,I8","name":"Segundos4"},{"addr":"DB14,I10","name":"Segundos5"},{"addr":"DB14,I12","name":"Segundos6"},{"addr":"DB14,I14","name":"Segundos7"},{"addr":"DB14,I16","name":"Segundos8"},{"addr":"DB14,I18","name":"Segundos9"},{"addr":"","name":""}]},{"id":"5d9ce40a.29438c","type":"s7 endpoint","z":"","transport":"iso-on-tcp","address":"10.0.3.133","port":"102","rack":"0","slot":"1","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","adapterauto":true,"adapterport":"","busaddr":"2","adapteraddr":"0","cycletime":"200","timeout":"1500","verbose":"default","name":"StatusRobot","vartable":[{"addr":"DB5,X0.0","name":"motor_husillo"},{"addr":"DB5,X0.1","name":"valvula_mariposa"},{"addr":"BD5,WORD2","name":"Hz_variador"},{"addr":"DB5,DW4","name":"Tiempo_ciclo"},{"addr":"DB5,X0.2","name":"sensor_mariposa_open"},{"addr":"DB5,X0.3","name":"sensor_mariposa_close"},{"addr":"DB5,INT8","name":"celda_carga"},{"addr":"DB5,INT10","name":"setpoint_actual"},{"addr":"DB5,X0.4","name":"vibrador"}]},{"id":"5a4e301f.e8824","type":"MSSQL-CN","z":"","tdsVersion":"7_4","name":"","server":"DESKTOP-IJ2RUAG","port":"1433","encyption":true,"database":"OrdenProduccionDB","useUTC":true,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false},{"id":"9a966701.a08168","type":"s7 endpoint","z":"","transport":"iso-on-tcp","address":"10.0.3.133","port":"102","rack":"0","slot":"1","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","adapterauto":true,"adapterport":"","busaddr":"2","adapteraddr":"0","cycletime":"500","timeout":"1500","verbose":"default","name":"Flags&Temps","vartable":[{"addr":"DB18,X0.0","name":"Iniciar_ciclo"},{"addr":"DB18,X0.1","name":"Terminar_ciclo"},{"addr":"DB18,X0.2","name":"flag_leerEvento"},{"addr":"DB18,X0.3","name":"flag_FIN_ciclo"},{"addr":"DB18,X0.4","name":"vibrar"},{"addr":"DB18,X0.5","name":"abrir_mariposa"},{"addr":"DB18,I52","name":"FrecuenciaOperacion"},{"addr":"DB18,X0.6","name":"motor_modo_manual"},{"addr":"DB18,DWORD58","name":"tiempoActual_timer"},{"addr":"DB18,X0.7","name":"FirstScanBit"},{"addr":"DB18,DWORD20","name":"tiempoEstable"},{"addr":"DB18,DWORD4","name":"tiempoVibrar"},{"addr":"DB18,DWORD28","name":"tiempoMariposa"},{"addr":"DB18,I56","name":"Estado"},{"addr":"DB18,DWORD36","name":"tiempoMuerto"}]},{"id":"6f6f1b60.7112a4","type":"ui_group","z":"","name":"Gráficas","tab":"91dce333.a495e","order":2,"disp":true,"width":"6","collapse":false},{"id":"addee223.7bcba","type":"ui_group","z":"","name":"Mode:Manual","tab":"91dce333.a495e","order":3,"disp":true,"width":"6","collapse":false},{"id":"21367eb8.d6c462","type":"s7 endpoint","z":"","transport":"iso-on-tcp","address":"10.0.3.133","port":"102","rack":"0","slot":"1","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","adapterauto":true,"adapterport":"","busaddr":"2","adapteraddr":"0","cycletime":"500","timeout":"1500","verbose":"default","name":"Variables PLC","vartable":[{"addr":"Q0.0","name":"motor_husillo"}]},{"id":"cc4fe46a.f1c678","type":"s7 endpoint","z":"","transport":"iso-on-tcp","address":"10.0.3.133","port":"102","rack":"0","slot":"1","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","adapterauto":true,"adapterport":"","busaddr":"2","adapteraddr":"0","cycletime":"0","timeout":"1500","verbose":"default","name":"Refresh from PLC","vartable":[{"addr":" DB18,I52","name":"FrecOperacion"},{"addr":" DB18,DWORD20","name":"tiempoEstable"},{"addr":" DB18,DWORD4","name":"tiempoVibrar"},{"addr":"DB18,DWORD28","name":"tiempoMariposa"},{"addr":"DB18,DWORD36","name":"tiempoMuerto"}]},{"id":"e99aee76.8a1d","type":"ui_group","z":"","name":"Configuración","tab":"91dce333.a495e","order":4,"disp":true,"width":6,"collapse":false},{"id":"9b377519.e17248","type":"ui_group","z":"","name":"test2","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"52016952.088048","type":"ui_group","z":"","name":"test1","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"d3ee7035.dc237","type":"ui_group","z":"","name":"test3","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"b384b665.245ac8","type":"ui_group","z":"","name":"test4","tab":"","order":4,"disp":true,"width":"8","collapse":false},{"id":"3905278.ad219d8","type":"ui_group","z":"","name":"Grabar","tab":"91dce333.a495e","order":6,"disp":true,"width":"6","collapse":false},{"id":"b39dd773.7e4748","type":"ui_spacer","name":"spacer","group":"6f6f1b60.7112a4","order":5,"width":6,"height":1},{"id":"73020879.5dbc48","type":"ui_spacer","name":"spacer","group":"64e3b886.1ca278","order":1,"width":1,"height":1},{"id":"29b745d3.283dca","type":"ui_spacer","name":"spacer","group":"64e3b886.1ca278","order":3,"width":1,"height":1},{"id":"e0961374.6651","type":"ui_spacer","name":"spacer","group":"64e3b886.1ca278","order":4,"width":1,"height":1},{"id":"ae187ace.c47908","type":"ui_spacer","name":"spacer","group":"64e3b886.1ca278","order":5,"width":1,"height":1},{"id":"6a096921.d3dd48","type":"ui_spacer","name":"spacer","group":"64e3b886.1ca278","order":6,"width":1,"height":1},{"id":"1659b133.3a50ff","type":"ui_spacer","name":"spacer","group":"64e3b886.1ca278","order":8,"width":1,"height":1},{"id":"a11d39ba.faa1c8","type":"ui_spacer","name":"spacer","group":"64e3b886.1ca278","order":9,"width":1,"height":1},{"id":"9ebafe54.5d9fa","type":"ui_spacer","name":"spacer","group":"64e3b886.1ca278","order":10,"width":1,"height":1},{"id":"1a25324b.ebaf6e","type":"ui_spacer","name":"spacer","group":"64e3b886.1ca278","order":11,"width":6,"height":1},{"id":"2631e981.a7e006","type":"MSSQL","z":"f07d898a.cb5cc8","mssqlCN":"5a4e301f.e8824","name":"SELECT ListaOrdenes","query":"--INSERT INTO ListaOrdenes (NumOrden_column, estadoOrden, segundos0, segundos1, segundos2, segundos3, segundos4, segundos5) VALUES ('OC1817', 'ABIERTO', 10, 9, 8, 7, 6, 5) \nSELECT TOP 1 * FROM ListaOrdenes WHERE estadoOrden = 'ABIERTO'\n","outField":"payload","returnType":0,"throwErrors":"0","x":280,"y":120,"wires":[["607c90e6.27cb8","e07ab8cc.6f7718"]]},{"id":"607c90e6.27cb8","type":"debug","z":"f07d898a.cb5cc8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":160,"wires":[]},{"id":"3ba2c476.8ea9fc","type":"function","z":"f07d898a.cb5cc8","name":"burbuja","func":"var arr = msg.payload; // get payload\nvar topic = msg.topic;\nvar array = [];\n\n/*\nfor (var i = 0; i < 10; i++) {\n  var aux = \"msg.payload[0].segundos\"+i;\n  if(eval(aux) !== null)\n    array.push(eval(aux));\n  node.warn(eval(aux));\n}*/\n\nfor (var i = 0; i < arr.length; i++){\n    var obj = arr[i];\n    for (var key in obj){\n        if(key!= \"ID_column\" && key!= \"NumOrden_column\" && key!= \"estadoOrden\" ){\n            var attrName = key;\n            var attrValue = obj[key];\n            if(attrValue){\n                array.push(attrValue);\n                //node.warn(\"N: \"+attrName+ \" V: \"+attrValue);\n            }\n        }\n    }\n}\n\nvar lista = array;\nvar n, k;\nn = lista.length;\n    // Algoritmo de burbuja\nfor (k = 1; k < n; k++) {\n    for (i = 0; i < (n - k); i++) {\n        if (lista[i] > lista[i + 1]) {\n            aux = lista[i];\n            lista[i] = lista[i + 1];\n            lista[i + 1] = aux;\n        }\n    }\n}\n\n\nlista.unshift(msg.payload[0].NumOrden_column);\nlista.unshift(msg.payload[0].ID_column);\n\n\nmsg.payload = lista;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":120,"wires":[["b92253c7.be6f2","2ecec559.6d583a","a893c67f.55a268","825e9195.ed384","dbd7a072.ae426","9f8f3e4.95ebcc","e01bada1.9a37c","f410263b.f20938","e99ea18e.d5de6","323f7fc3.024ab","3b5043c2.a8905c","9fa72b2d.f07ff8","addf9012.a375b","a172a326.728f7"]]},{"id":"b92253c7.be6f2","type":"debug","z":"f07d898a.cb5cc8","name":"id","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload[0]","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":120,"wires":[]},{"id":"2ecec559.6d583a","type":"debug","z":"f07d898a.cb5cc8","name":"NumOrden","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload[1]","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":160,"wires":[]},{"id":"a893c67f.55a268","type":"debug","z":"f07d898a.cb5cc8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":40,"wires":[]},{"id":"e07ab8cc.6f7718","type":"json","z":"f07d898a.cb5cc8","name":"","property":"payload","action":"obj","pretty":false,"x":470,"y":120,"wires":[["3ba2c476.8ea9fc"]]},{"id":"825e9195.ed384","type":"change","z":"f07d898a.cb5cc8","name":"","rules":[{"t":"move","p":"payload[0]","pt":"msg","to":"id_actual","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":80,"wires":[[]]},{"id":"c387b665.332488","type":"s7 out","z":"f07d898a.cb5cc8","endpoint":"256b571a.45cf18","variable":"Segundos0","name":"","x":1050,"y":200,"wires":[]},{"id":"dbd7a072.ae426","type":"change","z":"f07d898a.cb5cc8","name":"","rules":[{"t":"move","p":"payload[2]","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":200,"wires":[["c387b665.332488"]]},{"id":"9a65b704.d0f458","type":"s7 out","z":"f07d898a.cb5cc8","endpoint":"256b571a.45cf18","variable":"Segundos1","name":"","x":1050,"y":260,"wires":[]},{"id":"df08433d.95e12","type":"s7 out","z":"f07d898a.cb5cc8","endpoint":"256b571a.45cf18","variable":"Segundos2","name":"","x":1050,"y":320,"wires":[]},{"id":"f002296a.effd78","type":"s7 out","z":"f07d898a.cb5cc8","endpoint":"256b571a.45cf18","variable":"Segundos3","name":"","x":1050,"y":380,"wires":[]},{"id":"2f3f4801.3b2c88","type":"s7 out","z":"f07d898a.cb5cc8","endpoint":"256b571a.45cf18","variable":"Segundos4","name":"","x":1050,"y":440,"wires":[]},{"id":"c169123c.e6d07","type":"s7 out","z":"f07d898a.cb5cc8","endpoint":"256b571a.45cf18","variable":"Segundos5","name":"","x":1050,"y":500,"wires":[]},{"id":"9f8f3e4.95ebcc","type":"change","z":"f07d898a.cb5cc8","name":"","rules":[{"t":"move","p":"payload[3]","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":260,"wires":[["9a65b704.d0f458"]]},{"id":"e01bada1.9a37c","type":"change","z":"f07d898a.cb5cc8","name":"","rules":[{"t":"move","p":"payload[4]","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":320,"wires":[["df08433d.95e12"]]},{"id":"f410263b.f20938","type":"change","z":"f07d898a.cb5cc8","name":"","rules":[{"t":"move","p":"payload[5]","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":380,"wires":[["f002296a.effd78"]]},{"id":"e99ea18e.d5de6","type":"change","z":"f07d898a.cb5cc8","name":"","rules":[{"t":"move","p":"payload[6]","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":440,"wires":[["2f3f4801.3b2c88"]]},{"id":"323f7fc3.024ab","type":"change","z":"f07d898a.cb5cc8","name":"","rules":[{"t":"move","p":"payload[7]","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":500,"wires":[["c169123c.e6d07"]]},{"id":"3b5043c2.a8905c","type":"change","z":"f07d898a.cb5cc8","name":"","rules":[{"t":"move","p":"payload[8]","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":560,"wires":[["1db45823.152678"]]},{"id":"9fa72b2d.f07ff8","type":"change","z":"f07d898a.cb5cc8","name":"","rules":[{"t":"move","p":"payload[9]","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":620,"wires":[["bee7da04.8416e8"]]},{"id":"addf9012.a375b","type":"change","z":"f07d898a.cb5cc8","name":"","rules":[{"t":"move","p":"payload[10]","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":680,"wires":[["d17292e4.710ff"]]},{"id":"a172a326.728f7","type":"change","z":"f07d898a.cb5cc8","name":"","rules":[{"t":"move","p":"payload[11]","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":740,"wires":[["2d694db.8500eb2"]]},{"id":"1db45823.152678","type":"s7 out","z":"f07d898a.cb5cc8","endpoint":"256b571a.45cf18","variable":"Segundos6","name":"","x":1050,"y":560,"wires":[]},{"id":"bee7da04.8416e8","type":"s7 out","z":"f07d898a.cb5cc8","endpoint":"256b571a.45cf18","variable":"Segundos7","name":"","x":1050,"y":620,"wires":[]},{"id":"d17292e4.710ff","type":"s7 out","z":"f07d898a.cb5cc8","endpoint":"256b571a.45cf18","variable":"Segundos8","name":"","x":1050,"y":680,"wires":[]},{"id":"2d694db.8500eb2","type":"s7 out","z":"f07d898a.cb5cc8","endpoint":"256b571a.45cf18","variable":"Segundos9","name":"","x":1050,"y":740,"wires":[]},{"id":"f6bffffd.e36f1","type":"ui_button","z":"f07d898a.cb5cc8","name":"","group":"a2845e63.e8419","order":1,"width":6,"height":4,"passthru":true,"label":"Iniciar CICLO","tooltip":"","color":"","bgcolor":"#27AE60","icon":"","payload":"true","payloadType":"bool","topic":"","x":100,"y":320,"wires":[["965487d.d3f5678","2631e981.a7e006","c65c5e60.2c768","473e3cc4.a57584"]]},{"id":"c1b4016c.39b02","type":"ui_button","z":"f07d898a.cb5cc8","name":"","group":"a2845e63.e8419","order":2,"width":6,"height":4,"passthru":false,"label":"Terminar CICLO","tooltip":"","color":"","bgcolor":"#C0392B","icon":"","payload":"true","payloadType":"bool","topic":"","x":100,"y":540,"wires":[["ebfb8446.6956e8","122c7c19.bf8b64"]]},{"id":"965487d.d3f5678","type":"s7 out","z":"f07d898a.cb5cc8","endpoint":"9a966701.a08168","variable":"Iniciar_ciclo","name":"","x":530,"y":280,"wires":[]},{"id":"ebfb8446.6956e8","type":"s7 out","z":"f07d898a.cb5cc8","endpoint":"9a966701.a08168","variable":"Terminar_ciclo","name":"","x":540,"y":580,"wires":[]},{"id":"5abfcd91.bbe1f4","type":"s7 out","z":"f07d898a.cb5cc8","endpoint":"9a966701.a08168","variable":"Iniciar_ciclo","name":"","x":530,"y":340,"wires":[]},{"id":"122c7c19.bf8b64","type":"change","z":"f07d898a.cb5cc8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":460,"wires":[["5abfcd91.bbe1f4"]]},{"id":"c44034e2.e047d8","type":"s7 out","z":"f07d898a.cb5cc8","endpoint":"9a966701.a08168","variable":"Terminar_ciclo","name":"","x":540,"y":520,"wires":[]},{"id":"c65c5e60.2c768","type":"change","z":"f07d898a.cb5cc8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":400,"wires":[["c44034e2.e047d8"]]},{"id":"18c2251b.b7d0bb","type":"comment","z":"f07d898a.cb5cc8","name":"Version","info":"> ///////////////////////////////////////////////////////////////////////\n> ///////////////////////////////////////////////////\n> //// 1Silo N_segundos N_dosificaciones\n> ///////////////////////////////////////////////////////////////////////\n> ///////////////////////////////////////////////////\n> // Desde una BD en el ServerLocal, NodeRED actualiza la lista de dosificaciones.\n> // Inicia la lectura de las variables del \"status\" del robot.\n> // Cada una de las dosificaciones está representada por N segundos.\n> // El programa espera un tiempo constante entre cada dosificiación.\n> // Terminan las N dosificaciones y actualiza una bandera en NodeRED para terminar con la lectura de la BD en el ServerLocal\n> ///////////////////////////////////////////////////////////////////////\n> ///////////////////////////////////////////////////\n> //\n> //********************************************************************\n> //\n> // Version 1.0 Creado.      Lun17/08/20\n> ////////// Problemas con el desfase del tiempo en LeerTiempo.\n> //\n> // Version 1.1 Cotija.      Mar18/08/20\n> ////////// ","x":90,"y":40,"wires":[]},{"id":"bdde1499.6b3438","type":"MSSQL","z":"9ca91ed.5df6de","d":true,"mssqlCN":"baede666.b7d1a8","name":"","query":"UPDATE Monitoreo.Robotactual SET valvulamariposa = '1' WHERE ID = '2';","outField":"payload","returnType":0,"throwErrors":1,"x":300,"y":40,"wires":[["c3808eb0.381a4"]]},{"id":"29a31d6e.358c62","type":"ui_button","z":"9ca91ed.5df6de","d":true,"name":"","group":"64e3b886.1ca278","order":13,"width":6,"height":1,"passthru":false,"label":"WEBSERVER","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":120,"y":40,"wires":[["bdde1499.6b3438"]]},{"id":"c3808eb0.381a4","type":"ui_text","z":"9ca91ed.5df6de","d":true,"group":"64e3b886.1ca278","order":12,"width":6,"height":1,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":430,"y":40,"wires":[]},{"id":"b3b4ceb.07a833","type":"csv","z":"f1e46f72.3361","name":"","sep":"\\t","hdrin":"","hdrout":"none","multi":"one","ret":"\\r\\n","temp":"","skip":"0","strings":false,"include_empty_strings":"","include_null_values":"","x":710,"y":100,"wires":[["ec6c8f79.eff87"]]},{"id":"5bb9d943.715588","type":"function","z":"f1e46f72.3361","name":"separa info","func":"var arr = msg.payload; // get payload\nvar lista = [];\n\nlista.push('  ');\nfor (var i = 0; i < arr.length; i++){\n    var obj = arr[i];\n    for (var key in obj){\n       // if(key!= \"ID_column\" && key!= \"NumOrden_column\" && key!= \"estadoOrden\" ){\n            var attrName = key;\n            var attrValue = obj[key];\n        /*    if(key == \"tiempo\"){\n                //attrValue = String(attrValue);\n                attrValue = attrValue.substring( attrValue.length - 20);\n            }*/\n            if(key == \"setpoint_actual\")\n                attrValue = attrValue*1000;\n            lista.push(attrValue);\n          //  node.warn(\"N: \"+attrName+ \" V: \"+attrValue);\n\n        //}\n    }\n   lista.push('\\n');\n}\nmsg.payload = lista;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":100,"wires":[["b3b4ceb.07a833","84b02a2a.1f4da8"]]},{"id":"ec6c8f79.eff87","type":"file","z":"f1e46f72.3361","name":"","filename":"D:\\temporal.txt","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":880,"y":100,"wires":[[]]},{"id":"7c0d1398.342fdc","type":"MSSQL","z":"f1e46f72.3361","mssqlCN":"5a4e301f.e8824","name":"SELECT * StatusRobot","query":"SELECT * FROM dbo.StatusRobot;","outField":"payload","returnType":0,"throwErrors":1,"x":310,"y":100,"wires":[["5bb9d943.715588","c3c19077.35e9d"]]},{"id":"84b02a2a.1f4da8","type":"debug","z":"f1e46f72.3361","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":140,"wires":[]},{"id":"c3c19077.35e9d","type":"debug","z":"f1e46f72.3361","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":140,"wires":[]},{"id":"dd55f30b.fe475","type":"debug","z":"f1e46f72.3361","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":440,"wires":[]},{"id":"39d96cc9.7b8c24","type":"MSSQL","z":"f1e46f72.3361","mssqlCN":"5a4e301f.e8824","name":"UPDATE ListaOrdenes","query":"UPDATE OrdenProduccionDB.dbo.ListaOrdenes SET estadoOrden = 'CERRADO' WHERE ID_column = {{{global.id_actual}}};","outField":"payload","returnType":0,"throwErrors":1,"x":420,"y":400,"wires":[["dd55f30b.fe475","b581dea2.64e47"]]},{"id":"b581dea2.64e47","type":"change","z":"f1e46f72.3361","name":"","rules":[{"t":"set","p":"id_actual","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":400,"wires":[[]]},{"id":"d44e94b0.587318","type":"s7 in","z":"f1e46f72.3361","endpoint":"9a966701.a08168","mode":"single","variable":"flag_FIN_ciclo","diff":true,"name":"","x":90,"y":40,"wires":[["a0fb0b82.c7e778","7c0d1398.342fdc"]]},{"id":"a0fb0b82.c7e778","type":"ui_text","z":"f1e46f72.3361","d":true,"group":"a2845e63.e8419","order":3,"width":6,"height":1,"name":"","label":"flagFINciclo: ","format":"{{msg.payload}}","layout":"row-right","x":330,"y":40,"wires":[]},{"id":"9acdd27.e48883","type":"ui_button","z":"f1e46f72.3361","name":"","group":"64e3b886.1ca278","order":2,"width":4,"height":2,"passthru":false,"label":"Marcar Orden CERRADO","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":400,"wires":[["39d96cc9.7b8c24"]]},{"id":"f0379a54.05a6c8","type":"ui_button","z":"f1e46f72.3361","name":"","group":"64e3b886.1ca278","order":7,"width":4,"height":2,"passthru":false,"label":"DROP + CREATE StatusRobot","tooltip":"Sobreescribir StatusRobot","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":520,"wires":[["d845c07a.aba4c"]]},{"id":"d845c07a.aba4c","type":"MSSQL","z":"f1e46f72.3361","mssqlCN":"5a4e301f.e8824","name":"DROP StatusRobot","query":"DROP TABLE dbo.StatusRobot;","outField":"payload","returnType":0,"throwErrors":1,"x":430,"y":520,"wires":[["c7847203.d32bc"]]},{"id":"c7847203.d32bc","type":"MSSQL","z":"f1e46f72.3361","mssqlCN":"5a4e301f.e8824","name":"CREATE StatusRobot","query":"CREATE TABLE OrdenProduccionDB.dbo.StatusRobot  \n   (\n   ID_column INT NOT NULL IDENTITY(1,1) PRIMARY KEY,\n   fecha DATETIME NOT NULL,\n   milisegundos int NOT NULL,\n   sensor_mariposa_open tinyint NOT NULL,\n   sensor_mariposa_close tinyint NOT NULL,\n   valvula_mariposa tinyint NOT NULL,\n   Hz_variador int NOT NULL,\n   motor_husillo tinyint NOT NULL,\n   celda_carga smallint NOT NULL,\n   setpoint_actual tinyint NOT NULL,\n   hz_acumulado int NOT NULL,\n   vibrador tinyint NOT NULL,\n   );","outField":"payload","returnType":0,"throwErrors":1,"x":680,"y":520,"wires":[[]]},{"id":"b27a535f.c8e09","type":"ui_chart","z":"ed32508c.85b9b","name":"","group":"6f6f1b60.7112a4","order":1,"width":0,"height":0,"label":"Peso actual","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"8000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":350,"y":60,"wires":[[]]},{"id":"425b9f78.16404","type":"s7 in","z":"ed32508c.85b9b","endpoint":"5d9ce40a.29438c","mode":"single","variable":"celda_carga","diff":false,"name":"","x":150,"y":60,"wires":[["b27a535f.c8e09","4037f708.4fd978"]]},{"id":"88e78ecf.c3256","type":"s7 in","z":"f1e46f72.3361","endpoint":"9a966701.a08168","mode":"single","variable":"flag_leerEvento","diff":true,"name":"","x":100,"y":600,"wires":[["21412a51.88f646"]]},{"id":"21412a51.88f646","type":"function","z":"f1e46f72.3361","name":"","func":"if (msg.payload)\n    global.set(\"guardar_evento\", true);\nelse\n    global.set(\"guardar_evento\", false);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":600,"wires":[[]]},{"id":"b23fa4cd.6a5008","type":"s7 in","z":"f1e46f72.3361","endpoint":"5d9ce40a.29438c","mode":"all","variable":"Tiempo_ciclo","diff":true,"name":"","x":90,"y":240,"wires":[["125fdd74.d19023"]]},{"id":"125fdd74.d19023","type":"function","z":"f1e46f72.3361","name":"","func":"//msg.payload = global.get(\"guardar_evento\");\n\n\nif ( global.get(\"guardar_evento\") )\n    return msg;\nelse return 0;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":240,"wires":[["10438f61.370a41","77213127.3a984"]]},{"id":"10438f61.370a41","type":"debug","z":"f1e46f72.3361","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":300,"wires":[]},{"id":"3d153a7e.d5bd86","type":"MSSQL","z":"f1e46f72.3361","mssqlCN":"5a4e301f.e8824","name":"INSERT StatusRobot","query":"DECLARE @mh bit\nDECLARE @vm bit\nDECLARE @hzv int\nDECLARE @t2 int\nDECLARE @smo bit\nDECLARE @smc bit\nDECLARE @cc int\nDECLARE @spa int\nDECLARE @hzacum int\nDECLARE @vibrador bit\n\nSET @mh = '{{{payload.motor_husillo}}}'\nSET @vm = '{{{payload.valvula_mariposa}}}'\nSET @hzv = '{{{payload.Hz_variador}}}'\nSET @t2 = '{{{payload.Tiempo_ciclo}}}'\nSET @smo = '{{{payload.sensor_mariposa_open}}}'\nSET @smc = '{{{payload.sensor_mariposa_close}}}'\nSET @cc = '{{{payload.celda_carga}}}'\nSET @spa = '{{{payload.setpoint_actual}}}'\nSET @hzacum = '{{{payload.hz_acumulado}}}'\nSET @vibrador = '{{{payload.vibrador}}}'\n\n\nINSERT INTO OrdenProduccionDB.dbo.StatusRobot (fecha, milisegundos, sensor_mariposa_open, sensor_mariposa_close, valvula_mariposa, Hz_variador, motor_husillo, celda_carga, setpoint_actual, hz_acumulado, vibrador) VALUES (getdate(), @t2 ,@smo, @smc, @vm, @hzv, @mh, @cc, @spa, @hzacum, @vibrador)\n-- getdate()","outField":"payload","returnType":0,"throwErrors":1,"x":640,"y":240,"wires":[["d96ca5e8.9a9ff8"]]},{"id":"d96ca5e8.9a9ff8","type":"debug","z":"f1e46f72.3361","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":240,"wires":[]},{"id":"77213127.3a984","type":"json","z":"f1e46f72.3361","name":"","property":"payload","action":"obj","pretty":false,"x":450,"y":240,"wires":[["3d153a7e.d5bd86"]]},{"id":"c5c95e8c.958c3","type":"ui_gauge","z":"ed32508c.85b9b","name":"","group":"6f6f1b60.7112a4","order":6,"width":6,"height":5,"gtype":"gage","title":"Frecuencia Motor","label":"Hz","format":"{{value}}","min":0,"max":"60","colors":["#b30000","#e6e600","#2ea60c"],"seg1":"","seg2":"","x":370,"y":180,"wires":[]},{"id":"2c37c07.e23a44","type":"s7 in","z":"ed32508c.85b9b","endpoint":"5d9ce40a.29438c","mode":"single","variable":"Hz_variador","diff":true,"name":"","x":150,"y":180,"wires":[["c5c95e8c.958c3"]]},{"id":"108e359d.7dcd2a","type":"s7 out","z":"a11d52d5.b155f","endpoint":"9a966701.a08168","variable":"abrir_mariposa","name":"","x":360,"y":180,"wires":[]},{"id":"f4cfab4d.094f78","type":"s7 out","z":"a11d52d5.b155f","endpoint":"9a966701.a08168","variable":"vibrar","name":"","x":330,"y":240,"wires":[]},{"id":"928a48ee.04bdf8","type":"ui_switch","z":"a11d52d5.b155f","name":"","label":"Abrir mariposa","tooltip":"","group":"addee223.7bcba","order":3,"width":6,"height":2,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":140,"y":180,"wires":[["108e359d.7dcd2a"]]},{"id":"87a41bc4.3bf2a8","type":"ui_switch","z":"a11d52d5.b155f","name":"","label":"Vibrar","tooltip":"","group":"addee223.7bcba","order":4,"width":6,"height":2,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":170,"y":240,"wires":[["f4cfab4d.094f78"]]},{"id":"7ef4f3c8.bd552c","type":"ui_switch","z":"a11d52d5.b155f","name":"","label":"Motor","tooltip":"","group":"addee223.7bcba","order":2,"width":6,"height":2,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":170,"y":120,"wires":[["86288b97.f50ee8"]]},{"id":"86288b97.f50ee8","type":"s7 out","z":"a11d52d5.b155f","endpoint":"21367eb8.d6c462","variable":"motor_husillo","name":"","x":350,"y":120,"wires":[]},{"id":"4037f708.4fd978","type":"ui_text","z":"ed32508c.85b9b","group":"6f6f1b60.7112a4","order":2,"width":0,"height":0,"name":"","label":"Peso actual: ","format":"<font size = 20> {{msg.payload}} g","layout":"row-center","x":350,"y":100,"wires":[],"info":"**Hola**"},{"id":"7827fc6b.ec9604","type":"ui_text","z":"ed32508c.85b9b","group":"6f6f1b60.7112a4","order":4,"width":3,"height":3,"name":"","label":"SetPoint","format":"{{msg.payload}}000","layout":"col-center","x":340,"y":240,"wires":[]},{"id":"1f226a67.1bb5e6","type":"ui_text","z":"ed32508c.85b9b","group":"6f6f1b60.7112a4","order":3,"width":3,"height":3,"name":"","label":"Tiempo actual","format":"{{msg.payload}}","layout":"col-center","x":360,"y":300,"wires":[]},{"id":"41164190.788c6","type":"s7 in","z":"ed32508c.85b9b","endpoint":"5d9ce40a.29438c","mode":"single","variable":"setpoint_actual","diff":true,"name":"","x":140,"y":240,"wires":[["7827fc6b.ec9604"]]},{"id":"c7a720e2.2165b","type":"s7 in","z":"ed32508c.85b9b","endpoint":"9a966701.a08168","mode":"single","variable":"tiempoActual_timer","diff":true,"name":"","x":130,"y":300,"wires":[["1f226a67.1bb5e6"]]},{"id":"b3cad6df.5d8ec8","type":"ui_switch","z":"a11d52d5.b155f","name":"","label":"Modo:   Ciclo  -  Crisis","tooltip":"Ciclo - Crisis","group":"addee223.7bcba","order":1,"width":6,"height":2,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":130,"y":60,"wires":[["7aa76bb8.4e2784"]],"icon":"font-awesome/fa-history"},{"id":"7aa76bb8.4e2784","type":"s7 out","z":"a11d52d5.b155f","endpoint":"9a966701.a08168","variable":"motor_modo_manual","name":"","x":380,"y":60,"wires":[]},{"id":"473e3cc4.a57584","type":"link out","z":"f07d898a.cb5cc8","name":"iniciarCiclo","links":["f7e0b38.faee15"],"x":115,"y":260,"wires":[]},{"id":"f7e0b38.faee15","type":"link in","z":"7de4a171.c3c46","name":"","links":["473e3cc4.a57584"],"x":155,"y":100,"wires":[["75a2c19c.78d26"]]},{"id":"c4d888f4.460338","type":"s7 in","z":"7de4a171.c3c46","endpoint":"9a966701.a08168","mode":"single","variable":"FirstScanBit","diff":true,"name":"","x":110,"y":40,"wires":[["75a2c19c.78d26"]]},{"id":"782e68ce.0bddc8","type":"s7 in","z":"7de4a171.c3c46","endpoint":"cc4fe46a.f1c678","mode":"single","variable":"FrecOperacion","diff":false,"name":"","x":100,"y":200,"wires":[["be12e95a.1f0ce8"]]},{"id":"338b4f56.89ead","type":"s7 in","z":"7de4a171.c3c46","endpoint":"cc4fe46a.f1c678","mode":"single","variable":"tiempoEstable","diff":false,"name":"","x":110,"y":400,"wires":[["6fa5b603.166b78"]]},{"id":"e2b600ac.faa1f","type":"s7 in","z":"7de4a171.c3c46","endpoint":"cc4fe46a.f1c678","mode":"single","variable":"tiempoVibrar","diff":false,"name":"","x":110,"y":340,"wires":[["7c021e90.380d6"]]},{"id":"eb942075.667a3","type":"s7 in","z":"7de4a171.c3c46","endpoint":"cc4fe46a.f1c678","mode":"single","variable":"tiempoMariposa","diff":false,"name":"","x":100,"y":460,"wires":[["1add7e4d.c31732"]]},{"id":"75a2c19c.78d26","type":"ui_button","z":"7de4a171.c3c46","name":"","group":"e99aee76.8a1d","order":1,"width":6,"height":2,"passthru":true,"label":"Refresh_FROM_PLC","tooltip":"Actualiza el SCADA con los valores del PLC","color":"","bgcolor":"#EB8921","icon":"","payload":"","payloadType":"str","topic":"","x":340,"y":100,"wires":[["9a7d6d58.3603c"]]},{"id":"9a7d6d58.3603c","type":"s7 control","z":"7de4a171.c3c46","endpoint":"cc4fe46a.f1c678","function":"trigger","name":"","x":630,"y":100,"wires":[[]]},{"id":"4e7c0a89.db42c4","type":"ui_numeric","z":"7de4a171.c3c46","name":"","label":"Frecuencia Operacion","tooltip":"Hz","group":"e99aee76.8a1d","order":2,"width":6,"height":"2","wrap":true,"passthru":true,"topic":"","format":"{{value}} ","min":"20","max":"60","step":"1","x":520,"y":200,"wires":[["e46f67b4.cf4c58"]]},{"id":"9637a383.c01d4","type":"s7 out","z":"7de4a171.c3c46","endpoint":"9a966701.a08168","variable":"FrecuenciaOperacion","name":"","x":940,"y":200,"wires":[]},{"id":"a80106e0.ed86c8","type":"debug","z":"7de4a171.c3c46","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":930,"y":260,"wires":[]},{"id":"e46f67b4.cf4c58","type":"function","z":"7de4a171.c3c46","name":"","func":"// 60 hz, frecuencia máxima \nmsg.payload = (msg.payload / 60) * 27648 ;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":200,"wires":[["a80106e0.ed86c8","9637a383.c01d4"]]},{"id":"7c021e90.380d6","type":"ui_numeric","z":"7de4a171.c3c46","name":"","label":"segundosVibrar","tooltip":"","group":"e99aee76.8a1d","order":4,"width":6,"height":1,"wrap":true,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"20000","step":"1000","x":320,"y":340,"wires":[["12e49763.909179"]]},{"id":"12e49763.909179","type":"s7 out","z":"7de4a171.c3c46","endpoint":"9a966701.a08168","variable":"tiempoVibrar","name":"","x":590,"y":340,"wires":[]},{"id":"6fa5b603.166b78","type":"ui_numeric","z":"7de4a171.c3c46","name":"","label":"segundosEstabilizacion","tooltip":"","group":"e99aee76.8a1d","order":5,"width":6,"height":1,"wrap":true,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"10000","step":"1000","x":350,"y":400,"wires":[["57402c3d.bf7564"]]},{"id":"53162c5d.5b50d4","type":"s7 out","z":"7de4a171.c3c46","endpoint":"9a966701.a08168","variable":"tiempoMariposa","name":"","x":600,"y":460,"wires":[]},{"id":"1add7e4d.c31732","type":"ui_numeric","z":"7de4a171.c3c46","name":"","label":"segundosMariposa","tooltip":"","group":"e99aee76.8a1d","order":6,"width":6,"height":1,"wrap":true,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"10000","step":"1000","x":330,"y":460,"wires":[["53162c5d.5b50d4"]]},{"id":"57402c3d.bf7564","type":"s7 out","z":"7de4a171.c3c46","endpoint":"9a966701.a08168","variable":"tiempoEstable","name":"","x":600,"y":400,"wires":[]},{"id":"be12e95a.1f0ce8","type":"function","z":"7de4a171.c3c46","name":"","func":"// 60 hz, frecuencia máxima \nmsg.payload = (msg.payload * 60) / 27648 ;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":200,"wires":[["4e7c0a89.db42c4"]]},{"id":"d0f9a7b2.abc858","type":"s7 in","z":"f07d898a.cb5cc8","endpoint":"9a966701.a08168","mode":"single","variable":"Estado","diff":true,"name":"","x":140,"y":740,"wires":[["96599aa1.216838"]]},{"id":"96599aa1.216838","type":"ui_slider","z":"f07d898a.cb5cc8","name":"","label":"","tooltip":"","group":"a2845e63.e8419","order":5,"width":3,"height":6,"passthru":true,"outs":"all","topic":"","min":"5","max":"0","step":"-1","x":290,"y":740,"wires":[[]]},{"id":"e4dc1920.997578","type":"ui_text","z":"f07d898a.cb5cc8","group":"a2845e63.e8419","order":9,"width":3,"height":1,"name":"","label":"Estable","format":"{{msg.payload}}","layout":"row-right","x":300,"y":820,"wires":[]},{"id":"ab83d996.8c6eb8","type":"ui_text","z":"f07d898a.cb5cc8","group":"a2845e63.e8419","order":8,"width":3,"height":1,"name":"","label":"Husillo","format":"{{msg.payload}}","layout":"row-right","x":310,"y":860,"wires":[]},{"id":"628ff494.f030dc","type":"ui_text","z":"f07d898a.cb5cc8","group":"a2845e63.e8419","order":7,"width":3,"height":1,"name":"","label":"Vibrar","format":"{{msg.payload}}","layout":"row-right","x":310,"y":900,"wires":[]},{"id":"41408911.584088","type":"ui_text","z":"f07d898a.cb5cc8","group":"a2845e63.e8419","order":6,"width":3,"height":1,"name":"","label":"Espera","format":"{{msg.payload}}","layout":"row-right","x":300,"y":940,"wires":[]},{"id":"9fec8178.a7ed9","type":"ui_text","z":"f07d898a.cb5cc8","group":"a2845e63.e8419","order":4,"width":3,"height":1,"name":"","label":"StandBy","format":"{{msg.payload}}","layout":"row-right","x":300,"y":980,"wires":[]},{"id":"b13e1334.7bde2","type":"ui_text","z":"f07d898a.cb5cc8","group":"a2845e63.e8419","order":10,"width":3,"height":1,"name":"","label":"Desfogue","format":"{{msg.payload}}","layout":"row-right","x":300,"y":780,"wires":[]},{"id":"fdcbb57f.791f58","type":"ui_switch","z":"226d658e.05774a","name":"","label":"GrabarEvento","tooltip":"","group":"3905278.ad219d8","order":1,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":120,"y":60,"wires":[["53f1800.91d948"]]},{"id":"64081011.86eb7","type":"ui_button","z":"226d658e.05774a","name":"","group":"3905278.ad219d8","order":2,"width":0,"height":0,"passthru":false,"label":"Crear Archivo","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":120,"y":120,"wires":[["393cbf7a.6ca2c"]]},{"id":"393cbf7a.6ca2c","type":"link out","z":"226d658e.05774a","name":"crear_archivo","links":["3b91f109.3576ee"],"x":275,"y":120,"wires":[]},{"id":"3b91f109.3576ee","type":"link in","z":"f1e46f72.3361","name":"","links":["393cbf7a.6ca2c"],"x":155,"y":100,"wires":[["7c0d1398.342fdc"]]},{"id":"53f1800.91d948","type":"s7 out","z":"226d658e.05774a","endpoint":"9a966701.a08168","variable":"flag_leerEvento","name":"","x":340,"y":60,"wires":[]},{"id":"f7c2286.85990d8","type":"s7 in","z":"7de4a171.c3c46","endpoint":"cc4fe46a.f1c678","mode":"single","variable":"tiempoMuerto","diff":false,"name":"","x":110,"y":280,"wires":[["75928b3f.ce2b94"]]},{"id":"75928b3f.ce2b94","type":"ui_numeric","z":"7de4a171.c3c46","name":"","label":"segundosMuerto","tooltip":"","group":"e99aee76.8a1d","order":3,"width":6,"height":1,"wrap":true,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"20000","step":"1000","x":330,"y":280,"wires":[["7b4de403.cb93bc"]]},{"id":"7b4de403.cb93bc","type":"s7 out","z":"7de4a171.c3c46","endpoint":"9a966701.a08168","variable":"tiempoMuerto","name":"","x":600,"y":280,"wires":[]}]